In [39]:
import pandas as pd
from pathlib import Path

In [26]:
# Pull data from S3 and create dataframe
url = 'https://airport-efficiency.s3.amazonaws.com/Flight_Data.csv'
flight_df = pd.read_csv(url)

C:\Users\nizar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (8,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [27]:
flight_df.head(5)

,Unnamed: 0,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_ABR,CRS_DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_NM
0,0,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,1825,...,-1.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,1505,...,NaN,1500-1559,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,1210,...,1.0,1200-1259,0.0,0.0,18.0,0.0,0.0,0.0,0.0,NaN
3,3,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,2050,...,5.0,2000-2059,0.0,0.0,59.0,0.0,0.0,0.0,18.0,NaN
4,4,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,HNL,HI,1840,...,0.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
flight_df = flight_df.drop('Unnamed: 0', 1)

In [29]:
flight_df.dtypes

YEAR                     int64
MONTH                    int64
DAY_OF_WEEK              int64
FL_DATE                 object
BRANDED_CODE_SHARE      object
ORIGIN                  object
DEST                    object
DEST_STATE_ABR          object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
CANCELLED              float64
DIVERTED               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
DEST_STATE_NM           object
dtype: object

In [30]:
DCA_flights = flight_df.loc[flight_df['ORIGIN']== 'DCA']

In [36]:
DCA_flights['ORIGIN'].value_counts()

DCA    333731
Name: ORIGIN, dtype: int64

In [31]:
DCA_flights['YEAR'].value_counts()

2019    144343
2021     84771
2020     68174
2022     36443
Name: YEAR, dtype: int64

In [32]:
IAD_flights = flight_df.loc[flight_df['ORIGIN']== 'IAD']

In [34]:
IAD_flights['ORIGIN'].value_counts()

IAD    243880
Name: ORIGIN, dtype: int64

In [33]:
BWI_flights = flight_df.loc[flight_df['ORIGIN']== 'BWI']

In [37]:
BWI_flights['ORIGIN'].value_counts()

BWI    273406
Name: ORIGIN, dtype: int64

In [42]:
output_dir = Path('./Cleaned Data')

output_dir.mkdir(parents=True, exist_ok=True)

In [43]:
IAD_flights.to_csv('Cleaned Data/IAD_flights.csv', index=False)

In [44]:
DCA_flights.to_csv('Cleaned Data/DCA_flights.csv', index=False)
BWI_flights.to_csv('Cleaned Data/BWI_flights.csv', index=False)

In [50]:
states = {"AL":"Alabama",
"AK":"Alaska",
"AZ":"Arizona",
"AR":"Arkansas",
"CA":"California",
"CO":"Colorado",
"CT":"Connecticut",
"DE":"Delaware",
"FL":"Florida","GA":
"Georgia",
"HI":"Hawaii",
"ID":"Idaho",
"IL":"Illinois",
"IN":"Indiana",
"IA":"Iowa",
"KS":"Kansas",
"KY":"Kentucky",
"LA":"Louisiana",
"ME":"Maine",
"MD":"Maryland",
"MA":"Massachusetts",
"MI":"Michigan",
"MN":"Minnesota",
"MS":"Mississippi",
"MO":"Missouri",
"MT":"Montana",
"NE":"Nebraska",
"NV":"Nevada",
"NH":"New Hampshire",
"NJ":"New Jersey",
"NM":"New Mexico",
"NY":"New York",
"NC":"North Carolina",
"ND":"North Dakota",
"OH":"Ohio",
"OK":"Oklahoma",
"OR":"Oregon",
"PA":"Pennsylvania",
"RI":"Rhode Island",
"SC":"South Carolina",
"SD":"South Dakota",
"TN":"Tennessee",
"TX":"Texas",
"UT":"Utah",
"VT":"Vermont",
"VA":"Virginia",
"WA":"Washington",
"WV":"West Virginia",
"WI":"Wisconsin",
"WY":"Wyoming"
}

In [53]:
IAD_flights['DEST_STATE_NM'] = IAD_flights.loc[IAD_flights['DEST_STATE_ABR'] == ]

C:\Users\nizar\AppData\Local\Temp\ipykernel_4724\969095609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IAD_flights['DEST_STATE_NM'] = IAD_flights.DEST_STATE_ABR.map(states)

In [56]:
for i in range(len(IAD_flights)):
    if IAD_flights['DEST_STATE_ABR'][1] in states:
        IAD_flights["DEST_STATE_NM"] = states.values

KeyError: 1

In [52]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_ABR,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_NM
1931,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,ATL,GA,1625,1636.0,...,0.0,1600-1659,0.0,0.0,11.0,0.0,35.0,0.0,0.0,NaN
1932,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,DEN,CO,550,558.0,...,0.0,0001-0559,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1933,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,DEN,CO,1205,1210.0,...,0.0,1200-1259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1934,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,MDW,IL,1900,1944.0,...,2.0,1900-1959,0.0,0.0,1.0,0.0,0.0,0.0,29.0,NaN
1935,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,MDW,IL,1305,1258.0,...,-1.0,1300-1359,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN