In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Pull data from S3 and create dataframe
url = 'https://airport-efficiency.s3.amazonaws.com/Merged_Raw_Flight_Data.csv'
flight_df = pd.read_csv(url)

C:\Users\nizar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (8,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
flight_df.head(5)

,Unnamed: 0,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_ABR
0,0,2018,1,1,1/22/2018 12:00:00 AM,UA,SFO,BNA,Tennessee,1110,...,0.0,1100-1159,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018,1,1,1/22/2018 12:00:00 AM,UA,LAX,SAN,California,2245,...,-1.0,2200-2259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2018,1,1,1/22/2018 12:00:00 AM,UA,DEN,IAH,Texas,1400,...,-1.0,1400-1459,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018,1,1,1/22/2018 12:00:00 AM,UA,EWR,SAN,California,1621,...,-1.0,1600-1659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2018,1,1,1/22/2018 12:00:00 AM,UA,DFW,DEN,Colorado,915,...,-1.0,0900-0959,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# drop unnamed column that was imported from csv index
flight_df = flight_df.drop('Unnamed: 0', 1)

In [5]:
# check data types
flight_df.dtypes

YEAR                     int64
MONTH                    int64
DAY_OF_WEEK              int64
FL_DATE                 object
BRANDED_CODE_SHARE      object
ORIGIN                  object
DEST                    object
DEST_STATE_NM           object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
CANCELLED              float64
DIVERTED               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
DEST_STATE_ABR          object
dtype: object

In [6]:
#create seperate dataframes for each airport and reset index to start at 0
DCA_flights = flight_df.loc[flight_df['ORIGIN']== 'DCA']
DCA_flights = DCA_flights.reset_index(drop=True)

In [7]:
DCA_flights['ORIGIN'].value_counts()

DCA    419081
Name: ORIGIN, dtype: int64

In [8]:
DCA_flights['YEAR'].value_counts()

2019    144343
2018     85350
2021     84771
2020     68174
2022     36443
Name: YEAR, dtype: int64

In [9]:
IAD_flights = flight_df.loc[flight_df['ORIGIN']== 'IAD']
IAD_flights = IAD_flights.reset_index(drop=True)

In [10]:
IAD_flights['ORIGIN'].value_counts()

IAD    329784
Name: ORIGIN, dtype: int64

In [11]:
BWI_flights = flight_df.loc[flight_df['ORIGIN']== 'BWI']
BWI_flights = BWI_flights.reset_index(drop=True)

In [12]:
BWI_flights['ORIGIN'].value_counts()

BWI    370932
Name: ORIGIN, dtype: int64

In [13]:
# Fill missing State names
states = {"AL":"Alabama",
"AK":"Alaska",
"AZ":"Arizona",
"AR":"Arkansas",
"CA":"California",
"CO":"Colorado",
"CT":"Connecticut",
"DE":"Delaware",
"FL":"Florida","GA":
"Georgia",
"HI":"Hawaii",
"ID":"Idaho",
"IL":"Illinois",
"IN":"Indiana",
"IA":"Iowa",
"KS":"Kansas",
"KY":"Kentucky",
"LA":"Louisiana",
"ME":"Maine",
"MD":"Maryland",
"MA":"Massachusetts",
"MI":"Michigan",
"MN":"Minnesota",
"MS":"Mississippi",
"MO":"Missouri",
"MT":"Montana",
"NE":"Nebraska",
"NV":"Nevada",
"NH":"New Hampshire",
"NJ":"New Jersey",
"NM":"New Mexico",
"NY":"New York",
"NC":"North Carolina",
"ND":"North Dakota",
"OH":"Ohio",
"OK":"Oklahoma",
"OR":"Oregon",
"PR":"Peurto Rico",          
"PA":"Pennsylvania",
"RI":"Rhode Island",
"SC":"South Carolina",
"SD":"South Dakota",
"TN":"Tennessee",
"TX":"Texas",
"UT":"Utah",
"VI":"Virgin Islands",          
"VT":"Vermont",
"VA":"Virginia",
"WA":"Washington",
"WV":"West Virginia",
"WI":"Wisconsin",
"WY":"Wyoming"
}

In [14]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_ABR
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,...,-1.0,0800-0859,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,...,-1.0,0700-0759,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,...,-1.0,2200-2259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,...,-1.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,...,0.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# loop though dataframe and set state name based on abbreviation
for row in range(len(IAD_flights['DEST_STATE_ABR'])):
    abr = IAD_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        IAD_flights.at[row ,'DEST_STATE_NM'] = states[abr]
IAD_flights = IAD_flights.drop('DEST_STATE_ABR', 1)

In [16]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,-7.0,-1.0,0800-0859,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,-6.0,-1.0,0700-0759,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,-1.0,2200-2259,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,-1.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,10.0,0.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329769,2022,3,4,3/17/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,-4.0,-1.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN
329770,2022,3,5,3/18/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,-1.0,-1.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN
329771,2022,3,6,3/19/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,18.0,1.0,1800-1859,0.0,0.0,0.0,0.0,47.0,0.0,0.0
329772,2022,3,7,3/20/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,-3.0,-1.0,1900-1959,0.0,0.0,0.0,0.0,24.0,0.0,0.0
329773,2022,3,1,3/21/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,6.0,0.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [17]:
IAD_flights['DEST_STATE_NM'].value_counts()

New York               31582
North Carolina         25663
Florida                24877
California             24831
Texas                  19964
Georgia                18529
Pennsylvania           18243
Virginia               17485
South Carolina         13307
Ohio                   13123
Colorado               12933
Michigan               10577
Tennessee               8550
Illinois                8239
Kentucky                7745
New Jersey              7404
Massachusetts           6216
Missouri                6179
Minnesota               5763
Washington              5658
Maine                   5059
Connecticut             4867
Indiana                 4814
Vermont                 4043
Rhode Island            3749
Nevada                  3209
Louisiana               3048
West Virginia           2878
Alabama                 2441
Arizona                 1680
New Hampshire           1405
Utah                    1037
Oklahoma                 914
Oregon                   896
Puerto Rico              714
Hawaii                   575
Peurto Rico              502
U.S. Virgin Islands      423
Virgin Islands           343
Wisconsin                250
Montana                   69
Name: DEST_STATE_NM, dtype: int64

In [18]:
for row in range(len(BWI_flights['DEST_STATE_ABR'])):
    abr = BWI_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        BWI_flights.at[row ,'DEST_STATE_NM'] = states[abr]
BWI_flights = BWI_flights.drop('DEST_STATE_ABR', 1)

In [19]:
for row in range(len(DCA_flights['DEST_STATE_ABR'])):
    abr = DCA_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        DCA_flights.at[row ,'DEST_STATE_NM'] = states[abr]
DCA_flights = DCA_flights.drop('DEST_STATE_ABR', 1)

In [20]:
# Find null values
for column in IAD_flights.columns:
    print(f"{column} has {IAD_flights[column].isnull().sum()}null values")

YEAR has 0null values
MONTH has 0null values
DAY_OF_WEEK has 0null values
FL_DATE has 0null values
BRANDED_CODE_SHARE has 0null values
ORIGIN has 0null values
DEST has 0null values
DEST_STATE_NM has 0null values
CRS_DEP_TIME has 0null values
DEP_TIME has 8286null values
DEP_DELAY has 8293null values
DEP_DELAY_GROUP has 8293null values
DEP_TIME_BLK has 0null values
CANCELLED has 0null values
DIVERTED has 0null values
CARRIER_DELAY has 272630null values
WEATHER_DELAY has 272630null values
NAS_DELAY has 272630null values
SECURITY_DELAY has 272630null values
LATE_AIRCRAFT_DELAY has 272630null values

In [21]:
# Drop null values in listed columns
IAD_flights = IAD_flights.dropna( how='any',
                    subset=['YEAR','MONTH','DAY_OF_WEEK','FL_DATE','BRANDED_CODE_SHARE','ORIGIN','DEST', 'DEST_STATE_NM','CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK'  ])

In [22]:
# Fill null values in all columns should only be delay reasons columns and reset index to 0
IAD_flights = IAD_flights.fillna(0)
IAD_flights = IAD_flights.reset_index(drop=True)

In [23]:
# Find null values
for column in IAD_flights.columns:
    print(f"{column} has {IAD_flights[column].isnull().sum()} null values")

YEAR has 0 null values
MONTH has 0 null values
DAY_OF_WEEK has 0 null values
FL_DATE has 0 null values
BRANDED_CODE_SHARE has 0 null values
ORIGIN has 0 null values
DEST has 0 null values
DEST_STATE_NM has 0 null values
CRS_DEP_TIME has 0 null values
DEP_TIME has 0 null values
DEP_DELAY has 0 null values
DEP_DELAY_GROUP has 0 null values
DEP_TIME_BLK has 0 null values
CANCELLED has 0 null values
DIVERTED has 0 null values
CARRIER_DELAY has 0 null values
WEATHER_DELAY has 0 null values
NAS_DELAY has 0 null values
SECURITY_DELAY has 0 null values
LATE_AIRCRAFT_DELAY has 0 null values

In [24]:
BWI_flights = BWI_flights.dropna( how='any',
                    subset=['YEAR','MONTH','DAY_OF_WEEK','FL_DATE','BRANDED_CODE_SHARE','ORIGIN','DEST', 'DEST_STATE_NM','CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK'  ])
BWI_flights = BWI_flights.fillna(0)
BWI_flights = BWI_flights.reset_index(drop=True)

In [25]:
DCA_flights = BWI_flights.dropna( how='any',
                    subset=['YEAR','MONTH','DAY_OF_WEEK','FL_DATE','BRANDED_CODE_SHARE','ORIGIN','DEST', 'DEST_STATE_NM','CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK'  ])
DCA_flights = BWI_flights.fillna(0)
DCA_flights = DCA_flights.reset_index(drop=True)

In [26]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,-7.0,-1.0,0800-0859,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,-6.0,-1.0,0700-0759,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,-1.0,2200-2259,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,-1.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,10.0,0.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# create delayed column
# 1 = delayed 15 minutes or longer 
# 0 = not delayed
for row in range(len(IAD_flights['DEP_DELAY'])):
    delay = IAD_flights.at[row, 'DEP_DELAY']
    if  delay >= 15:
        IAD_flights.at[row ,'DELAYED'] = 1
    else:
        IAD_flights.at[row ,'DELAYED'] = 0

In [28]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,...,-1.0,0800-0859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,...,-1.0,0700-0759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,...,-1.0,2200-2259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,...,-1.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,...,0.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321476,2022,3,4,3/17/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,...,-1.0,1800-1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321477,2022,3,5,3/18/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,...,-1.0,1800-1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321478,2022,3,6,3/19/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,...,1.0,1800-1859,0.0,0.0,0.0,0.0,47.0,0.0,0.0,1.0
321479,2022,3,7,3/20/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,...,-1.0,1900-1959,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
321480,2022,3,1,3/21/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,...,0.0,1800-1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
for row in range(len(DCA_flights['DEP_DELAY'])):
    delay = DCA_flights.at[row, 'DEP_DELAY']
    if  delay >= 15:
        DCA_flights.at[row ,'DELAYED'] = 1
    else:
        DCA_flights.at[row ,'DELAYED'] = 0

In [30]:
for row in range(len(BWI_flights['DEP_DELAY'])):
    delay = BWI_flights.at[row, 'DEP_DELAY']
    if  delay >= 15:
        BWI_flights.at[row ,'DELAYED'] = 1
    else:
        BWI_flights.at[row ,'DELAYED'] = 0

In [31]:
# Convert FL_DATE column to datetime to remove time
IAD_flights['DATE']= pd.to_datetime(IAD_flights['FL_DATE'])

In [32]:
# drop FL_DATE columns no longer needed
IAD_flights = IAD_flights.drop('FL_DATE', 1)

In [33]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE
0,2018,1,1,UA,IAD,FLL,Florida,830,823.0,-7.0,...,0800-0859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
1,2018,1,1,UA,IAD,LAX,California,700,654.0,-6.0,...,0700-0759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
2,2018,1,1,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,...,2200-2259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
3,2018,1,1,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,...,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
4,2018,1,1,UA,IAD,IAH,Texas,1720,1730.0,10.0,...,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08

In [34]:
# Covid column covid start date set as 2020-3-15
# 1 = coivd was around
# 0 = before covid

for row in range(len(IAD_flights['DATE'])):
    date = IAD_flights.at[row, 'DATE']
    if  date > pd.to_datetime('2020-3-15'):
        IAD_flights.at[row ,'COVID'] = 1
    else:
        IAD_flights.at[row ,'COVID'] = 0

In [35]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE,COVID
0,2018,1,1,UA,IAD,FLL,Florida,830,823.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
1,2018,1,1,UA,IAD,LAX,California,700,654.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
2,2018,1,1,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
3,2018,1,1,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
4,2018,1,1,UA,IAD,IAH,Texas,1720,1730.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321476,2022,3,4,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,-4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-17,1.0
321477,2022,3,5,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-18,1.0
321478,2022,3,6,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,18.0,...,0.0,0.0,0.0,0.0,47.0,0.0,0.0,1.0,2022-03-19,1.0
321479,2022,3,7,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,-3.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,2022-03-20,1.0
321480,2022,3,1,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-21,1.0

In [40]:
# Convert FL_DATE column to datetime to remove time
BWI_flights['DATE']= pd.to_datetime(BWI_flights['FL_DATE'])
# drop FL_DATE columns no longer needed
BWI_flights = BWI_flights.drop('FL_DATE', 1)

In [41]:
for row in range(len(BWI_flights['DATE'])):
    date = BWI_flights.at[row, 'DATE']
    if  date > pd.to_datetime('2020-3-15'):
        BWI_flights.at[row ,'COVID'] = 1
    else:
        BWI_flights.at[row ,'COVID'] = 0

In [42]:
# Convert FL_DATE column to datetime to remove time
DCA_flights['DATE']= pd.to_datetime(DCA_flights['FL_DATE'])
# drop FL_DATE columns no longer needed
DCA_flights = DCA_flights.drop('FL_DATE', 1)

In [43]:
for row in range(len(DCA_flights['DATE'])):
    date = DCA_flights.at[row, 'DATE']
    if  date > pd.to_datetime('2020-3-15'):
        DCA_flights.at[row ,'COVID'] = 1
    else:
        DCA_flights.at[row ,'COVID'] = 0

In [44]:
# Delay reason column number 1-5 which is the most influential for the delay of that flight
# CARRIER_DELAY = 0	
# WEATHER_DELAY = 1	
# NAS_DELAY = 2
# SECURITY_DELAY = 3	
# LATE_AIRCRAFT_DELAY = 4

for row in range(len(IAD_flights['CARRIER_DELAY'])):
    delay_reason = []
    delay_reason.append(IAD_flights.at[row, 'CARRIER_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'WEATHER_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'NAS_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'SECURITY_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'LATE_AIRCRAFT_DELAY'])
    n = np.array(delay_reason)
    IAD_flights.at[row, 'DELAY_REASON'] = np.argmax(n)

In [45]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE,COVID,DELAY_REASON
0,2018,1,1,UA,IAD,FLL,Florida,830,823.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
1,2018,1,1,UA,IAD,LAX,California,700,654.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
2,2018,1,1,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
3,2018,1,1,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
4,2018,1,1,UA,IAD,IAH,Texas,1720,1730.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321476,2022,3,4,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,-4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-17,1.0,0.0
321477,2022,3,5,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-18,1.0,0.0
321478,2022,3,6,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,18.0,...,0.0,0.0,0.0,47.0,0.0,0.0,1.0,2022-03-19,1.0,2.0
321479,2022,3,7,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,-3.0,...,0.0,0.0,0.0,24.0,0.0,0.0,0.0,2022-03-20,1.0,2.0
321480,2022,3,1,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-21,1.0,0.0

In [50]:
for row in range(len(BWI_flights['CARRIER_DELAY'])):
    delay_reason = []
    delay_reason.append(BWI_flights.at[row, 'CARRIER_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'WEATHER_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'NAS_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'SECURITY_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'LATE_AIRCRAFT_DELAY'])
    n = np.array(delay_reason)
    BWI_flights.at[row, 'DELAY_REASON'] = np.argmax(n)

In [51]:
for row in range(len(DCA_flights['CARRIER_DELAY'])):
    delay_reason = []
    delay_reason.append(DCA_flights.at[row, 'CARRIER_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'WEATHER_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'NAS_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'SECURITY_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'LATE_AIRCRAFT_DELAY'])
    n = np.array(delay_reason)
    DCA_flights.at[row, 'DELAY_REASON'] = np.argmax(n)

In [52]:
#Create Folder to save cleaned data
output_dir = Path('./Cleaned Data')

output_dir.mkdir(parents=True, exist_ok=True)

# save individual files as csv
IAD_flights.to_csv('Cleaned Data/IAD_flights.csv', index=False)
DCA_flights.to_csv('Cleaned Data/DCA_flights.csv', index=False)
BWI_flights.to_csv('Cleaned Data/BWI_flights.csv', index=False)

In [53]:
# save marged files as csv
frames = [BWI_flights, IAD_flights, DCA_flights]

Merged_cleaned_airport_data = pd.concat(frames)

Merged_cleaned_airport_data.to_csv('Cleaned Data/Merged_cleaned_airport_data.csv', index=False)

In [54]:
Merged_cleaned_airport_data.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE,COVID,DELAY_REASON
0,2018,1,1,UA,BWI,DEN,Colorado,1608,1600.0,-8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
1,2018,1,1,UA,BWI,ORD,Illinois,1644,1637.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
2,2018,1,1,UA,BWI,IAH,Texas,1806,1800.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
3,2018,1,1,UA,BWI,IAH,Texas,828,828.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
4,2018,1,1,UA,BWI,DEN,Colorado,810,802.0,-8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358672,2022,3,2,AA_CODESHARE,BWI,CLT,North Carolina,1700,1651.0,-9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-15,1.0,0.0
358673,2022,3,3,AA_CODESHARE,BWI,CLT,North Carolina,1700,1652.0,-8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-16,1.0,0.0
358674,2022,3,4,AA_CODESHARE,BWI,CLT,North Carolina,1700,1656.0,-4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-17,1.0,0.0
358675,2022,3,5,AA_CODESHARE,BWI,CLT,North Carolina,1700,1656.0,-4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-18,1.0,0.0
358676,2022,3,6,AA_CODESHARE,BWI,CLT,North Carolina,1700,1729.0,29.0,...,0.0,4.0,0.0,18.0,0.0,25.0,1.0,2022-03-19,1.0,4.0