In [74]:
import pandas as pd
from pathlib import Path
import numpy as np

In [75]:
# Pull data from S3 and create dataframe
url = 'https://airport-efficiency.s3.amazonaws.com/Merged_Raw_Flight_Data.csv'
flight_df = pd.read_csv(url)

C:\Users\nizar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (8,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [76]:
flight_df.head(5)

,Unnamed: 0,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_ABR
0,0,2018,1,1,1/22/2018 12:00:00 AM,UA,SFO,BNA,Tennessee,1110,...,0.0,1100-1159,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2018,1,1,1/22/2018 12:00:00 AM,UA,LAX,SAN,California,2245,...,-1.0,2200-2259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2018,1,1,1/22/2018 12:00:00 AM,UA,DEN,IAH,Texas,1400,...,-1.0,1400-1459,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2018,1,1,1/22/2018 12:00:00 AM,UA,EWR,SAN,California,1621,...,-1.0,1600-1659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2018,1,1,1/22/2018 12:00:00 AM,UA,DFW,DEN,Colorado,915,...,-1.0,0900-0959,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# drop unnamed column that was imported from csv index
flight_df = flight_df.drop('Unnamed: 0', 1)

In [78]:
# check data types
flight_df.dtypes

YEAR                     int64
MONTH                    int64
DAY_OF_WEEK              int64
FL_DATE                 object
BRANDED_CODE_SHARE      object
ORIGIN                  object
DEST                    object
DEST_STATE_NM           object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
CANCELLED              float64
DIVERTED               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
DEST_STATE_ABR          object
dtype: object

In [79]:
#create seperate dataframes for each airport and reset index to start at 0
DCA_flights = flight_df.loc[flight_df['ORIGIN']== 'DCA']
DCA_flights = DCA_flights.reset_index(drop=True)

In [80]:
DCA_flights['ORIGIN'].value_counts()

DCA    418265
Name: ORIGIN, dtype: int64

In [85]:
DCA_flights['YEAR'].value_counts()

2019    143527
2018     85350
2021     84771
2020     68174
2022     36443
Name: YEAR, dtype: int64

In [86]:
IAD_flights = flight_df.loc[flight_df['ORIGIN']== 'IAD']
IAD_flights = IAD_flights.reset_index(drop=True)

In [87]:
IAD_flights['ORIGIN'].value_counts()

IAD    329098
Name: ORIGIN, dtype: int64

In [88]:
BWI_flights = flight_df.loc[flight_df['ORIGIN']== 'BWI']
BWI_flights = BWI_flights.reset_index(drop=True)

In [90]:
BWI_flights['ORIGIN'].value_counts()

BWI    370063
Name: ORIGIN, dtype: int64

In [91]:
# Fill missing State names
states = {"AL":"Alabama",
"AK":"Alaska",
"AZ":"Arizona",
"AR":"Arkansas",
"CA":"California",
"CO":"Colorado",
"CT":"Connecticut",
"DE":"Delaware",
"FL":"Florida","GA":
"Georgia",
"HI":"Hawaii",
"ID":"Idaho",
"IL":"Illinois",
"IN":"Indiana",
"IA":"Iowa",
"KS":"Kansas",
"KY":"Kentucky",
"LA":"Louisiana",
"ME":"Maine",
"MD":"Maryland",
"MA":"Massachusetts",
"MI":"Michigan",
"MN":"Minnesota",
"MS":"Mississippi",
"MO":"Missouri",
"MT":"Montana",
"NE":"Nebraska",
"NV":"Nevada",
"NH":"New Hampshire",
"NJ":"New Jersey",
"NM":"New Mexico",
"NY":"New York",
"NC":"North Carolina",
"ND":"North Dakota",
"OH":"Ohio",
"OK":"Oklahoma",
"OR":"Oregon",
"PR":"Puerto Rico",          
"PA":"Pennsylvania",
"RI":"Rhode Island",
"SC":"South Carolina",
"SD":"South Dakota",
"TN":"Tennessee",
"TX":"Texas",
"UT":"Utah",
"VI":"U.S. Virgin Islands",          
"VT":"Vermont",
"VA":"Virginia",
"WA":"Washington",
"WV":"West Virginia",
"WI":"Wisconsin",
"WY":"Wyoming"
}

In [92]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_ABR
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,...,-1.0,0800-0859,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,...,-1.0,0700-0759,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,...,-1.0,2200-2259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,...,-1.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,...,0.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# loop though dataframe and set state name based on abbreviation
for row in range(len(IAD_flights['DEST_STATE_ABR'])):
    abr = IAD_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        IAD_flights.at[row ,'DEST_STATE_NM'] = states[abr]
IAD_flights = IAD_flights.drop('DEST_STATE_ABR', 1)

In [94]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,-7.0,-1.0,0800-0859,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,-6.0,-1.0,0700-0759,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,-1.0,2200-2259,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,-1.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,10.0,0.0,1700-1759,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329083,2022,3,4,3/17/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,-4.0,-1.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN
329084,2022,3,5,3/18/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,-1.0,-1.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN
329085,2022,3,6,3/19/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,18.0,1.0,1800-1859,0.0,0.0,0.0,0.0,47.0,0.0,0.0
329086,2022,3,7,3/20/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,-3.0,-1.0,1900-1959,0.0,0.0,0.0,0.0,24.0,0.0,0.0
329087,2022,3,1,3/21/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,6.0,0.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [95]:
IAD_flights['DEST_STATE_NM'].value_counts()

New York               31524
North Carolina         25631
Florida                24817
California             24756
Texas                  19914
Georgia                18483
Pennsylvania           18196
Virginia               17468
South Carolina         13266
Ohio                   13103
Colorado               12903
Michigan               10571
Tennessee               8529
Illinois                8238
Kentucky                7766
New Jersey              7387
Massachusetts           6183
Missouri                6171
Minnesota               5747
Washington              5643
Maine                   5053
Connecticut             4854
Indiana                 4800
Vermont                 4028
Rhode Island            3743
Nevada                  3185
Louisiana               3046
West Virginia           2869
Alabama                 2442
Arizona                 1677
New Hampshire           1405
Puerto Rico             1214
Utah                    1033
Oklahoma                 911
Oregon                   890
U.S. Virgin Islands      763
Hawaii                   570
Wisconsin                250
Montana                   69
Name: DEST_STATE_NM, dtype: int64

In [96]:
for row in range(len(BWI_flights['DEST_STATE_ABR'])):
    abr = BWI_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        BWI_flights.at[row ,'DEST_STATE_NM'] = states[abr]
BWI_flights = BWI_flights.drop('DEST_STATE_ABR', 1)

In [97]:
for row in range(len(DCA_flights['DEST_STATE_ABR'])):
    abr = DCA_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        DCA_flights.at[row ,'DEST_STATE_NM'] = states[abr]
DCA_flights = DCA_flights.drop('DEST_STATE_ABR', 1)

In [98]:
# Find null values
for column in IAD_flights.columns:
    print(f"{column} has {IAD_flights[column].isnull().sum()}null values")

YEAR has 0null values
MONTH has 0null values
DAY_OF_WEEK has 0null values
FL_DATE has 0null values
BRANDED_CODE_SHARE has 0null values
ORIGIN has 0null values
DEST has 0null values
DEST_STATE_NM has 0null values
CRS_DEP_TIME has 0null values
DEP_TIME has 8213null values
DEP_DELAY has 8220null values
DEP_DELAY_GROUP has 8220null values
DEP_TIME_BLK has 0null values
CANCELLED has 0null values
DIVERTED has 0null values
CARRIER_DELAY has 271923null values
WEATHER_DELAY has 271923null values
NAS_DELAY has 271923null values
SECURITY_DELAY has 271923null values
LATE_AIRCRAFT_DELAY has 271923null values

In [99]:
# Drop null values in listed columns
IAD_flights = IAD_flights.dropna( how='any',
                    subset=['YEAR','MONTH','DAY_OF_WEEK','FL_DATE','BRANDED_CODE_SHARE','ORIGIN','DEST', 'DEST_STATE_NM','CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK'  ])

In [100]:
# Fill null values in all columns should only be delay reasons columns and reset index to 0
IAD_flights = IAD_flights.fillna(0)
IAD_flights = IAD_flights.reset_index(drop=True)

In [101]:
# Find null values
for column in IAD_flights.columns:
    print(f"{column} has {IAD_flights[column].isnull().sum()} null values")

YEAR has 0 null values
MONTH has 0 null values
DAY_OF_WEEK has 0 null values
FL_DATE has 0 null values
BRANDED_CODE_SHARE has 0 null values
ORIGIN has 0 null values
DEST has 0 null values
DEST_STATE_NM has 0 null values
CRS_DEP_TIME has 0 null values
DEP_TIME has 0 null values
DEP_DELAY has 0 null values
DEP_DELAY_GROUP has 0 null values
DEP_TIME_BLK has 0 null values
CANCELLED has 0 null values
DIVERTED has 0 null values
CARRIER_DELAY has 0 null values
WEATHER_DELAY has 0 null values
NAS_DELAY has 0 null values
SECURITY_DELAY has 0 null values
LATE_AIRCRAFT_DELAY has 0 null values

In [102]:
BWI_flights = BWI_flights.dropna( how='any',
                    subset=['YEAR','MONTH','DAY_OF_WEEK','FL_DATE','BRANDED_CODE_SHARE','ORIGIN','DEST', 'DEST_STATE_NM','CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK'  ])
BWI_flights = BWI_flights.fillna(0)
BWI_flights = BWI_flights.reset_index(drop=True)

In [103]:
DCA_flights = DCA_flights.dropna( how='any',
                    subset=['YEAR','MONTH','DAY_OF_WEEK','FL_DATE','BRANDED_CODE_SHARE','ORIGIN','DEST', 'DEST_STATE_NM','CRS_DEP_TIME','DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'DEP_TIME_BLK'  ])
DCA_flights = DCA_flights.fillna(0)
DCA_flights = DCA_flights.reset_index(drop=True)

In [104]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,-7.0,-1.0,0800-0859,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,-6.0,-1.0,0700-0759,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,-1.0,2200-2259,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,-1.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,10.0,0.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
# create delayed column
# 1 = delayed 15 minutes or longer 
# 0 = not delayed
for row in range(len(IAD_flights['DEP_DELAY'])):
    delay = IAD_flights.at[row, 'DEP_DELAY']
    if  delay >= 15:
        IAD_flights.at[row ,'DELAYED'] = 1
    else:
        IAD_flights.at[row ,'DELAYED'] = 0

In [106]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED
0,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,FLL,Florida,830,823.0,...,-1.0,0800-0859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,LAX,California,700,654.0,...,-1.0,0700-0759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,BDL,Connecticut,2215,2208.0,...,-1.0,2200-2259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018,1,1,1/22/2018 12:00:00 AM,UA,IAD,DEN,Colorado,1725,1722.0,...,-1.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018,1,1,1/8/2018 12:00:00 AM,UA,IAD,IAH,Texas,1720,1730.0,...,0.0,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320863,2022,3,4,3/17/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,...,-1.0,1800-1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
320864,2022,3,5,3/18/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,...,-1.0,1800-1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
320865,2022,3,6,3/19/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,...,1.0,1800-1859,0.0,0.0,0.0,0.0,47.0,0.0,0.0,1.0
320866,2022,3,7,3/20/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,...,-1.0,1900-1959,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
320867,2022,3,1,3/21/2022 12:00:00 AM,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,...,0.0,1800-1859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
for row in range(len(DCA_flights['DEP_DELAY'])):
    delay = DCA_flights.at[row, 'DEP_DELAY']
    if  delay >= 15:
        DCA_flights.at[row ,'DELAYED'] = 1
    else:
        DCA_flights.at[row ,'DELAYED'] = 0

In [108]:
for row in range(len(BWI_flights['DEP_DELAY'])):
    delay = BWI_flights.at[row, 'DEP_DELAY']
    if  delay >= 15:
        BWI_flights.at[row ,'DELAYED'] = 1
    else:
        BWI_flights.at[row ,'DELAYED'] = 0

In [109]:
# Convert FL_DATE column to datetime to remove time
IAD_flights['DATE']= pd.to_datetime(IAD_flights['FL_DATE'])

In [110]:
# drop FL_DATE columns no longer needed
IAD_flights = IAD_flights.drop('FL_DATE', 1)

In [111]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE
0,2018,1,1,UA,IAD,FLL,Florida,830,823.0,-7.0,...,0800-0859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
1,2018,1,1,UA,IAD,LAX,California,700,654.0,-6.0,...,0700-0759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
2,2018,1,1,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,...,2200-2259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
3,2018,1,1,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,...,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22
4,2018,1,1,UA,IAD,IAH,Texas,1720,1730.0,10.0,...,1700-1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08

In [112]:
# Covid column covid start date set as 2020-3-15
# 1 = coivd was around
# 0 = before covid

for row in range(len(IAD_flights['DATE'])):
    date = IAD_flights.at[row, 'DATE']
    if  date > pd.to_datetime('2020-3-15'):
        IAD_flights.at[row ,'COVID'] = 1
    else:
        IAD_flights.at[row ,'COVID'] = 0

In [113]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE,COVID
0,2018,1,1,UA,IAD,FLL,Florida,830,823.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
1,2018,1,1,UA,IAD,LAX,California,700,654.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
2,2018,1,1,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
3,2018,1,1,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0
4,2018,1,1,UA,IAD,IAH,Texas,1720,1730.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320863,2022,3,4,AA_CODESHARE,IAD,AUS,Texas,1800,1756.0,-4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-17,1.0
320864,2022,3,5,AA_CODESHARE,IAD,AUS,Texas,1800,1759.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-18,1.0
320865,2022,3,6,AA_CODESHARE,IAD,AUS,Texas,1800,1818.0,18.0,...,0.0,0.0,0.0,0.0,47.0,0.0,0.0,1.0,2022-03-19,1.0
320866,2022,3,7,AA_CODESHARE,IAD,AUS,Texas,1915,1912.0,-3.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,2022-03-20,1.0
320867,2022,3,1,AA_CODESHARE,IAD,AUS,Texas,1800,1806.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-21,1.0

In [114]:
# Convert FL_DATE column to datetime to remove time
BWI_flights['DATE']= pd.to_datetime(BWI_flights['FL_DATE'])
# drop FL_DATE columns no longer needed
BWI_flights = BWI_flights.drop('FL_DATE', 1)

In [115]:
for row in range(len(BWI_flights['DATE'])):
    date = BWI_flights.at[row, 'DATE']
    if  date > pd.to_datetime('2020-3-15'):
        BWI_flights.at[row ,'COVID'] = 1
    else:
        BWI_flights.at[row ,'COVID'] = 0

In [116]:
# Convert FL_DATE column to datetime to remove time
DCA_flights['DATE']= pd.to_datetime(DCA_flights['FL_DATE'])
# drop FL_DATE columns no longer needed
DCA_flights = DCA_flights.drop('FL_DATE', 1)

In [117]:
for row in range(len(DCA_flights['DATE'])):
    date = DCA_flights.at[row, 'DATE']
    if  date > pd.to_datetime('2020-3-15'):
        DCA_flights.at[row ,'COVID'] = 1
    else:
        DCA_flights.at[row ,'COVID'] = 0

In [123]:
# Delay reason column number 1-5 which is the most influential for the delay of that flight
# No delay = 0
# CARRIER_DELAY = 1
# WEATHER_DELAY = 2	
# NAS_DELAY = 3
# SECURITY_DELAY = 4	
# LATE_AIRCRAFT_DELAY = 5

for row in range(len(IAD_flights['CARRIER_DELAY'])):
    delay_reason = [0]
    delay_reason.append(IAD_flights.at[row, 'CARRIER_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'WEATHER_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'NAS_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'SECURITY_DELAY'])
    delay_reason.append(IAD_flights.at[row, 'LATE_AIRCRAFT_DELAY'])
    n = np.array(delay_reason)
    IAD_flights.at[row, 'DELAY_REASON'] = np.argmax(n)

In [124]:
IAD_flights.head(20)

,YEAR,MONTH,DAY_OF_WEEK,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DELAYED,DATE,COVID,DELAY_REASON
0,2018,1,1,UA,IAD,FLL,Florida,830,823.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
1,2018,1,1,UA,IAD,LAX,California,700,654.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
2,2018,1,1,UA,IAD,BDL,Connecticut,2215,2208.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
3,2018,1,1,UA,IAD,DEN,Colorado,1725,1722.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-22,0.0,0.0
4,2018,1,1,UA,IAD,IAH,Texas,1720,1730.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
5,2018,1,1,UA,IAD,SAN,California,1720,1722.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
6,2018,1,1,UA,IAD,SAN,California,840,835.0,-5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
7,2018,1,1,UA,IAD,ORD,Illinois,1230,1224.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-08,0.0,0.0
8,2018,1,7,UA,IAD,DEN,Colorado,2217,2216.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
9,2018,1,7,UA,IAD,FLL,Florida,1729,1825.0,56.0,...,0.0,0.0,0.0,0.0,0.0,44.0,1.0,2018-01-07,0.0,5.0
10,2018,1,7,UA,IAD,SJU,Puerto Rico,810,813.0,3.0,...,0.0,0.0,0.0,19.0,0.0,0.0,0.0,2018-01-07,0.0,3.0
11,2018,1,7,UA,IAD,TPA,Florida,815,812.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
12,2018,1,7,UA,IAD,EWR,New Jersey,1717,1715.0,-2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
13,2018,1,7,UA,IAD,SFO,California,630,625.0,-5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
14,2018,1,7,UA,IAD,LAX,California,2205,2158.0,-7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
15,2018,1,7,UA,IAD,FLL,Florida,830,829.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
16,2018,1,7,UA,IAD,LAS,Nevada,2200,2157.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
17,2018,1,7,UA,IAD,ORD,Illinois,2215,2223.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
18,2018,1,7,UA,IAD,EWR,New Jersey,2200,2200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-01-07,0.0,0.0
19,2018,1,7,UA,IAD,SAN,California,800,1148.0,228.0,...,0.0,210.0,0.0,0.0,0.0,0.0,1.0,2018-01-07,0.0,1.0

In [121]:
for row in range(len(BWI_flights['CARRIER_DELAY'])):
    delay_reason = [0]
    delay_reason.append(BWI_flights.at[row, 'CARRIER_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'WEATHER_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'NAS_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'SECURITY_DELAY'])
    delay_reason.append(BWI_flights.at[row, 'LATE_AIRCRAFT_DELAY'])
    n = np.array(delay_reason)
    BWI_flights.at[row, 'DELAY_REASON'] = np.argmax(n)

In [122]:
for row in range(len(DCA_flights['CARRIER_DELAY'])):
    delay_reason = [0]
    delay_reason.append(DCA_flights.at[row, 'CARRIER_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'WEATHER_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'NAS_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'SECURITY_DELAY'])
    delay_reason.append(DCA_flights.at[row, 'LATE_AIRCRAFT_DELAY'])
    n = np.array(delay_reason)
    DCA_flights.at[row, 'DELAY_REASON'] = np.argmax(n)

In [125]:
#Create Folder to save cleaned data
output_dir = Path('./Cleaned Data')

output_dir.mkdir(parents=True, exist_ok=True)

# save individual files as csv
IAD_flights.to_csv('Cleaned Data/IAD_flights.csv', index=False)
DCA_flights.to_csv('Cleaned Data/DCA_flights.csv', index=False)
BWI_flights.to_csv('Cleaned Data/BWI_flights.csv', index=False)

In [126]:
# save marged files as csv
frames = [BWI_flights, IAD_flights, DCA_flights]

Merged_cleaned_airport_data = pd.concat(frames)

In [127]:
Merged_cleaned_airport_data['ORIGIN'].value_counts()

DCA    404280
BWI    357780
IAD    320878
Name: ORIGIN, dtype: int64

In [128]:
Merged_cleaned_airport_data['DEST_STATE_NM'].value_counts()

Florida                149337
New York                96864
Texas                   74869
North Carolina          66129
Georgia                 63234
Illinois                57441
Massachusetts           47960
California              46730
Ohio                    37256
Michigan                32761
Tennessee               32362
South Carolina          31632
Pennsylvania            30388
Colorado                28610
Virginia                25888
Missouri                25856
Kentucky                25125
Minnesota               19356
Rhode Island            18400
Connecticut             17385
New Jersey              17020
Maine                   16741
Indiana                 13618
Louisiana               13303
Nevada                  11423
New Hampshire           10920
Washington              10642
Alabama                  9759
Arizona                  9342
Vermont                  6513
Puerto Rico              6279
Wisconsin                6105
Utah                     5063
West Virginia            3885
Oklahoma                 3360
Oregon                   2102
Nebraska                 1899
Arkansas                 1789
Iowa                     1560
New Mexico               1394
Mississippi              1244
U.S. Virgin Islands       755
Hawaii                    570
Montana                    69
Name: DEST_STATE_NM, dtype: int64

In [50]:
Merged_cleaned_airport_data.to_csv('Cleaned Data/Merged_cleaned_airport_data.csv', index=False)